@using OtakuNET.Web.Models.AnimangaViewModels
@model RaitingPartialViewModel

@if (Model.IsActive)
{
    <div class="star star--active-empt"></div>
    <div class="star star--active-empt"></div>
    <div class="star star--active-empt"></div>
    <div class="star star--active-empt"></div>
    <div class="star star--active-empt"></div>
}
else
{
    <div class="star star--passive-fill" title="@Model.Raiting.Raiting Отлично"></div>
    <div class="star star--passive-fill" title="@Model.Raiting.Raiting Отлично"></div>
    <div class="star star--passive-fill" title="@Model.Raiting.Raiting Отлично"></div>
    <div class="star star--passive-fill" title="@Model.Raiting.Raiting Отлично"></div>
    <div class="star star--passive-part" title="@Model.Raiting.Raiting Отлично"></div>
}
