@using OtakuNET.Web.Models.AnimangaViewModels
@model TitleViewModel
@{
    ViewData["Title"] = Model.Title;
}

@{
    Model.ImageSrc = string.IsNullOrEmpty(Model.ImageSrc)
        ? "/images/missing.jpg"
        : Model.ImageSrc;
    Model.StudioImageSrc = string.IsNullOrEmpty(Model.StudioImageSrc)
        ? "/images/missing-square.jpg"
        : Model.StudioImageSrc;
    var studioRouteData = new Dictionary<string, string>
    {
        ["key"] = Model.StudioName
    };
}

<header class="title__header">
    @Model.Title
</header>

<div class="flex__flex-container">

    <div class="flex__main-container flex__flex-container">

        <section class="title__section-art">
            <img src="@Model.ImageSrc" alt="" class="title__section-art__image" />
            @await Html.PartialAsync("/Views/AnimangaPartial/_UserListsControlPartial.cshtml", Model.UserListControls)
            <div class="title__my-raiting">
                @await Html.PartialAsync("/Views/AnimangaPartial/_RaitingPartial.cshtml", new RaitingPartialViewModel
                {
                    IsActive = true,
                    Raiting = Model.Raiting
                })
            </div>
        </section>

        <div class="title__info-container">

            <div class="title__info-container__flex-container">

                <div>
                    <section class="title__section-info">
                        <header class="section__header section__header--min">Информация</header>
                        @await Html.PartialAsync("/Views/AnimangaPartial/_TitleInformationPartial.cshtml", Model.Information)
                    </section>
                    <section class="title__section-raiting">
                        <header class="section__header section__header--min">Рейтинг</header>
                        @await Html.PartialAsync("/Views/AnimangaPartial/_RaitingPartial.cshtml", new RaitingPartialViewModel
                        {
                            IsActive = false,
                            Raiting = Model.Raiting
                        })
                    </section>
                </div>

                <div>
                    <section class="title__section-studio">
                        <header class="section__header section__header--min">Студия</header>
                        <a asp-controller="Anime" asp-action="Studio" asp-all-route-data="studioRouteData" title="@Model.StudioName">
                            <img src="@Model.StudioImageSrc" alt="" class="title__section-studio__image" />
                        </a>
                    </section>
                </div>

            </div>

            <section class="title__section-description">
                <header class="section__header section__header--min">Описание</header>
                <p class="title__section-description__text">
                    @Model.Description
                </p>
            </section>

        </div>

    </div>

    <div class="flex__right-panel">
        <section class="title__diagram-section">
            <header class="section__header section__header--min">Оценки людей</header>
            @await Html.PartialAsync("/Views/AnimangaPartial/_UserAssessmentsPartial.cshtml", Model.Raiting)
        </section>
        <section class="title__diagram-section">
            <header class="section__header section__header--min">В списках у людей</header>
            @await Html.PartialAsync("/Views/AnimangaPartial/_TitleInUserListsPartial.cshtml", Model.InUserLists)
        </section>
        <section class="title__outer-links">
            <header class="section__header section__header--min">На других сайтах</header>
            @foreach (var link in Model.Links)
            {
                <a href="@link.Href" title="@link.Text">@link.Text</a><br />
            }
        </section>
    </div>

</div>