@using OtakuNET.Web.Models.TitleViewModels
@model TitleViewModel
@{
    ViewData["Title"] = Model.Title;
}

@{
    Model.ImageSrc = string.IsNullOrEmpty(Model.ImageSrc)
        ? "/images/missing.jpg"
        : Model.ImageSrc;
    Model.StudioImageSrc = string.IsNullOrEmpty(Model.StudioImageSrc)
        ? "/images/missing-square.jpg"
        : Model.StudioImageSrc;
}

<header class="title__header">
    @Model.Title
</header>

<div class="flex__flex-container">

    <div class="flex__main-container flex__flex-container">

        <section class="title__section-art">
            <img src="@Model.ImageSrc" alt="" class="title__section-art__image" />
            @await Html.PartialAsync("/Views/AnimangaPartial/_UserListsControlPartial.cshtml", Model.UserListControls)
            <div class="title__my-Rating">
                @await Html.PartialAsync("/Views/AnimangaPartial/_RatingPartial.cshtml", new RatingPartialViewModel
                {
                    IsActive = true,
                    Rating = Model.Rating
                })
            </div>
        </section>

        <div class="title__info-container">

            <div class="title__info-container__flex-container">

                <div>
                    <section class="title__section-info">
                        <header class="section__header section__header--min">Информация</header>
                        @await Html.PartialAsync("/Views/AnimangaPartial/_TitleInformationPartial.cshtml", Model.Information)
                    </section>
                    <section class="title__section-Rating">
                        <header class="section__header section__header--min">Рейтинг</header>
                        @await Html.PartialAsync("/Views/AnimangaPartial/_RatingPartial.cshtml", new RatingPartialViewModel
                        {
                            IsActive = false,
                            Rating = Model.Rating
                        })
                    </section>
                </div>

                <div>
                    <section class="title__section-studio">
                        <header class="section__header section__header--min">Студия</header>
                        <a asp-controller="Anime" asp-action="Studio" asp-route-key="@Model.StudioName" title="@Model.StudioName">
                            <img src="@Model.StudioImageSrc" alt="" class="title__section-studio__image" />
                        </a>
                    </section>
                </div>

            </div>

            <section class="title__section-description">
                <header class="section__header section__header--min">Описание</header>
                <p class="title__section-description__text">
                    @Model.Description
                </p>
            </section>

            <section class="title__section-comments">
                @await Component.InvokeAsync("Comments", new { contentType = "Anime", contentKey = Model.Key })
            </section>

        </div>

    </div>

    <div class="flex__right-panel">
        <section class="title__diagram-section">
            <header class="section__header section__header--min">Оценки людей</header>
            @await Html.PartialAsync("/Views/AnimangaPartial/_UserAssessmentsPartial.cshtml", Model.Rating)
        </section>
        <section class="title__diagram-section">
            <header class="section__header section__header--min">В списках у людей</header>
            @await Html.PartialAsync("/Views/AnimangaPartial/_TitleInUserListsPartial.cshtml", Model.InUserLists)
        </section>
        <section class="title__outer-links">
            <header class="section__header section__header--min">На других сайтах</header>
            @foreach (var link in Model.Links)
            {
                <a href="@link.Href" title="@link.Text">@link.Text</a><br />
            }
        </section>
    </div>

</div>

@section Scripts {
    @await Html.PartialAsync("_CommentsScriptsPartial")
}
