@using OtakuNET.Web.Models.NewsViewModels
@using OtakuNET.Web.Services.TagTranslator.Frontend
@model OneUpdateViewModel

@{
    Model.ImageSrc = string.IsNullOrEmpty(Model.ImageSrc)
        ? "/images/missing.jpg"
        : Model.ImageSrc;
    var tagTranslator = new FrontendTagTranslator();
    var tagClass = tagTranslator.ToClassName(Model.Tag);
    var tagText = Model.Tag == Tag.Episode
        ? tagTranslator.ToEpisodeString(Model.TagInfo)
        : tagTranslator.ToString(Model.Tag);
}

<article class="update-node">
    <header class="update-node__header">
        <span class="tag @tagClass">@tagText</span>
        <a asp-controller="Anime" asp-action="Title" asp-route-key="@Model.TitleKey" title="" class="title-preview__name title-preview__name--big">@Model.Title</a>
        <span class="title-preview__info">@Model.Timestamp</span>
    </header>
    <div class="update-node__container">
        <div class="update-node__image">
            <a asp-controller="Anime" asp-action="Title" asp-route-key="@Model.TitleKey" title="">
                <img src="@Model.ImageSrc" alt="" class="update-node__image__image" />
            </a>
        </div>
        <div class="update-node__info">
            <dl>
                @foreach (var info in Model.Info)
                {
                    <dt>@info.Key</dt>
                    <dd>
                        @foreach (var value in info.Values)
                        {
                            <span>@value  </span>
                        }
                    </dd>
                }
            </dl>
        </div>
    </div>
</article>
