@using OtakuNET.Web.Models.NewsViewModels
@using OtakuNET.Web.Services.TagTranslator.Frontend
@model OneNewsViewModel

@{ 
    var tagTranslator = new FrontendTagTranslator();
    var tagClass = tagTranslator.ToClassName(Model.Tag);
    var tagText = tagTranslator.ToString(Model.Tag);
    var routeDataKey = new Dictionary<string, string> { ["key"] = Model.Key.ToString() };
}

<article class="news-node">
    <header>
        <span class="tag @tagClass">@tagText</span>
        <a asp-controller="News" asp-action="One" asp-all-route-data="routeDataKey">
            <span class="title-preview__name title-preview__name--big">@Model.Title</span>
        </a>
        <span class="title-preview__info">@Model.Timestamp</span>
    </header>
    @if (!string.IsNullOrEmpty(Model.ImageSrc))
    {
        <img src="@Model.ImageSrc" alt="" class="news-node__image" />
    }
    <p class="news-node__text">
        @Model.Text
    </p>
</article>
