@using OtakuNET.Web.Models.ProfileViewModels
@model ProfileViewModel
@{
    ViewData["Title"] = Model.Login;
}

@{
    var avatarSrc = string.IsNullOrEmpty(Model.AvatarId)
        ? "/images/missing-square.jpg"
        : Url.Action("Get", "Image", new { Id = Model.AvatarId });
    Model.Name = string.IsNullOrEmpty(Model.Name)
        ? Model.Login
        : Model.Name;

    Dictionary<string, string> GetRouteData(string login, string key)
        => new Dictionary<string, string> { ["login"] = login, ["key"] = key };
}

<div class="flex__flex-container profile__first-block">

    <section class="profile__section-avatar">
        <img src="@avatarSrc" alt="" class="profile__section-avatar__image" />
    </section>

    <section class="profile__section-central">
        <header class="profile__header">
            <h2 class="profile__name">@Model.Login</h2>
            <span class="profile__name-info">@Model.Name / зарегистрирован @Model.RegirtrationDate</span>
        </header>
        <div class="profile__list-counters">
            <div class="profile__list-counter">
                <a asp-controller="Profile" asp-action="List" , asp-all-route-data='GetRouteData(Model.Login, "Anime")'>
                    <h3 class="title-preview__name history__title__name">Списки аниме</h3>
                </a>
                @foreach (var list in Model.UserAnimeLists)
                {
                    var cssClass = list.TitleCount == 0
                        ? "profile__list-counter__link profile__list-counter__link--passive"
                        : "profile__list-counter__link";
                    <a asp-controller="Profile" asp-action="List" asp-all-route-data="GetRouteData(Model.Login, list.Key)" class="@cssClass">
                        @list.Name (@list.TitleCount)
                    </a>
                }
            </div>
            <div class="profile__list-counter">
                <a asp-controller="Profile" asp-action="List" asp-all-route-data='GetRouteData(Model.Login, "Manga")'>
                    <h3 class="title-preview__name history__title__name">Списки манги</h3>
                </a>
                @foreach (var list in Model.UserMangaLists)
                {
                    var cssClass = list.TitleCount == 0
                        ? "profile__list-counter__link profile__list-counter__link--passive"
                        : "profile__list-counter__link";
                    <a asp-controller="Profile" asp-action="List" asp-all-route-data="GetRouteData(Model.Login, list.Key)" class="@cssClass">
                        @list.Name (@list.TitleCount)
                    </a>
                }
            </div>
        </div>
    </section>

    <section class="profile__section-history">
        <a asp-controller="Profile" asp-action="History">
            <header class="section__header section__header--min section__header--top">История</header>
        </a>
        @foreach (var historyItem in Model.History)
        {
            @await Html.PartialAsync("/Views/ProfilePartial/_ProfileHistoryItemPartial.cshtml", historyItem);
        }
    </section>
</div>
