@using OtakuNET.Web.Models.ProfileViewModels
@model ProfileViewModel
@{
    ViewData["Title"] = Model.Name;
}

@{
    Model.AvatarSrc = string.IsNullOrEmpty(Model.AvatarSrc)
        ? "/images/missing-square.jpg"
        : Model.AvatarSrc;
    Model.Name = string.IsNullOrEmpty(Model.Name)
        ? Model.Login
        : Model.Name;
    var allAnimeListsRouteData = new Dictionary<string, string> { ["key"] = "Anime" };
    var allMangaListsRouteData = new Dictionary<string, string> { ["key"] = "Manga" };
    Model.History = Model.History.OrderByDescending(h => h.Timestamp).Take(3).ToList();

    Dictionary<string, string> GetRouteDataKey(string key)
        => new Dictionary<string, string> { ["key"] = key };
}

<div class="flex__flex-container profile__first-block">

    <section class="profile__section-avatar">
        <img src="@Model.AvatarSrc" alt="" class="profile__section-avatar__image" />
    </section>

    <section class="profile__section-central">
        <header class="profile__header">
            <h2 class="profile__name">@Model.Name</h2>
            <span class="profile__name-info">@Model.Login / зарегистрирован @Model.RegirtrationDate</span>
        </header>
        <div class="profile__list-counters">
            <div class="profile__list-counter">
                <a asp-controller="Profile" asp-action="List" , asp-all-route-data="allAnimeListsRouteData">
                    <h3 class="title-preview__name history__title__name">Списки аниме</h3>
                </a>
                @foreach (var list in Model.UserAnimeLists)
                {
                    var cssClass = list.TitleCount == 0
                        ? "profile__list-counter__link profile__list-counter__link--passive"
                        : "profile__list-counter__link";
                    <a asp-controller="Profile" asp-action="List" asp-all-route-data="GetRouteDataKey(list.Key)" class="@cssClass">
                        @list.Name (@list.TitleCount)
                    </a>
                }
            </div>
            <div class="profile__list-counter">
                <a asp-controller="Profile" asp-action="List" asp-all-route-data="allMangaListsRouteData">
                    <h3 class="title-preview__name history__title__name">Списки манги</h3>
                </a>
                @foreach (var list in Model.UserMangaLists)
                {
                    var cssClass = list.TitleCount == 0
                        ? "profile__list-counter__link profile__list-counter__link--passive"
                        : "profile__list-counter__link";
                    <a asp-controller="Profile" asp-action="List" asp-all-route-data="GetRouteDataKey(list.Key)" class="@cssClass">
                        @list.Name (@list.TitleCount)
                    </a>
                }
            </div>
        </div>
    </section>

    <section class="profile__section-history">
        <a asp-controller="Profile" asp-action="History">
            <header class="section__header section__header--min section__header--top">История</header>
        </a>
        @foreach (var historyItem in Model.History)
        {
            @await Html.PartialAsync("/Views/ProfilePartial/_ProfileHistoryItemPartial.cshtml", historyItem);
        }
    </section>
</div>
