@using OtakuNET.Web.Models.TitleViewModels
@using OtakuNET.Web.Models.HomeViewModels
@model IndexViewModel
@{
    ViewData["Title"] = "Главная";
}

@{
    Model.AnimeRecommendationsFirstBlock.Reverse();
}


<section class="section-ongoings">
    <a asp-controller="Anime" asp-action="Ongoings">
        <header class="section__header section__header--ongoings">Сейчас на экранах</header>
    </a>
    <div class="section-ongoings__container">
        @for (var i = 0; i < Model.Ongoings.Count; i++)
        {
            var titleModel = new TitlePreviewPartialViewModel
            {
                ControllerName = "Anime",
                Title = Model.Ongoings[i],
                TitlePreviewBlockId = $"ongoings__title--{i + 1}"
            };
            await Html.RenderPartialAsync("/Views/AnimangaPartial/_TitlePreviewPartial.cshtml", titleModel);
        }
    </div>
</section>

<section class="middle-section">
    <a href="#!/anime">Аниме</a>
    <a href="#!/manga">Манга</a>
    <div class="middle-section__container" id="middle-section__container"></div>
</section>

<div class="news-container">

    <section class="section-news">
        <a asp-controller="News" asp-action="" title="">
            <header class="section__header section__header--news">Лента новостей</header>
        </a>
        @await Component.InvokeAsync("News", 3)
    </section>

    <section class="section-updates">
        <a asp-controller="News" asp-action="Updates" title="">
            <header class="section__header section__header--updates">Обновления аниме</header>
        </a>
        @await Component.InvokeAsync("Updates", 3)
    </section>

</div>




<script type="text/template" id="anime-template">
    <div class="middle-section__first">
        <div class="middle-section__first__container">
            <div class="middle-section__first__column">
                <a asp-controller="Anime" asp-action="List" title="">
                    <header class="section__header section__header--seasons">Аниме</header>
                </a>
                <ul class="middle-section__first__column__list">
                    @foreach (var season in Model.AnimeRecommendationsFirstBlock)
                    {
                        <a href="@season.Href" title="@season.LinkTitle">
                            <li class="middle-section__first__column__list-item">@season.Text</li>
                        </a>
                    }
                </ul>
            </div>
            <div class="middle-section__first__column">
                <a asp-controller="Anime" asp-action="List">
                    <header class="section__header section__header--Recommendations">Рекомендации</header>
                </a>
                <ul class="middle-section__first__column__list">
                    @foreach (var Recommendations in Model.AnimeRecommendationsSecondBlock)
                    {
                        <a href="@Recommendations.Href" title="@Recommendations.LinkTitle">
                            <li class="middle-section__first__column__list-item">@Recommendations.Text</li>
                        </a>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="middle-section__second">
        <div class="middle-section__second__container">
            <header class="middle-section__second__header">Мои списки аниме</header>
            @foreach (var userList in Model.UserAnimeLists)
            {
                <div class="middle-section__second__list">
                    @if (string.IsNullOrEmpty(userList.Key))
                    {
                        <a asp-controller="Account" asp-action="Login" class="middle-section__second__list-name" title="@userList.Description">@userList.Name</a>
                    }
                    else
                    {
                        <a asp-controller="Profile" asp-action="List" asp-route-login="@Model.Login" asp-route-key="@userList.Key"
                           class="middle-section__second__list-name" title="@userList.Description">@userList.Name</a>
                    }
                    <span class="middle-section__second__list-counter">@userList.TitleCount</span>
                </div>
            }
        </div>
    </div>
</script>

<script type="text/template" id="manga-template">
    <div class="middle-section__first">
        <div class="middle-section__first__container">
            <div class="middle-section__first__column">
                <a asp-controller="Manga" asp-action="List">
                    <header class="section__header section__header--seasons">Манга</header>
                </a>
                <ul class="middle-section__first__column__list">
                    @foreach (var mangaType in Model.MangaRecommendationsFirstBlock)
                    {
                        <a href="@mangaType.Href" title="@mangaType.LinkTitle">
                            <li class="middle-section__first__column__list-item">@mangaType.Text</li>
                        </a>
                    }
                </ul>
            </div>
            <div class="middle-section__first__column">
                <a asp-controller="Manga" asp-action="List">
                    <header class="section__header section__header--Recommendations">Рекомендации</header>
                </a>
                <ul class="middle-section__first__column__list">
                    @foreach (var recomendation in Model.MangaRecommendationsSecondBlock)
                    {
                        <a href="@recomendation.Href" title="@recomendation.LinkTitle">
                            <li class="middle-section__first__column__list-item">@recomendation.Text</li>
                        </a>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="middle-section__second">
        <div class="middle-section__second__container">
            <header class="middle-section__second__header">Мои списки манги</header>
            @foreach (var userList in Model.UserMangaLists)
            {
                <div class="middle-section__second__list">
                    @if (string.IsNullOrEmpty(userList.Key))
                    {
                        <a asp-controller="Account" asp-action="Login" class="middle-section__second__list-name" title="@userList.Description">@userList.Name</a>
                    }
                    else
                    {
                        <a asp-controller="Profile" asp-action="List" asp-route-login="@Model.Login" asp-route-key="@userList.Key"
                           class="middle-section__second__list-name" title="@userList.Description">@userList.Name</a>
                    }
                    <span class="middle-section__second__list-counter">@userList.TitleCount</span>
                </div>
            }
        </div>
    </div>
</script>

@section Scripts  {
    @await Html.PartialAsync("_BackboneScriptsPartial")
    <script src="~/js/Home/middle-section-switcher.js"></script>
}
